*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E6E9EB;
}


.header{
    background-color: #062038;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    height: 90px;
    position: sticky;
}

.header ul{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    color: #FFFFFF;
    font-weight:500;
}

.header ul li{
    margin: auto 0 auto 25px;
    list-style: none;
}

body{
    background-color: #E6E9EB;
}

.cart_shopping{
    width: 34px;
    height: 34px;
}

.contact-wp-icon{
    position: relative;
    
    width: 30px;
    height: 30px;
}

.logo-ps{
    height: 60px;
    margin-left: 70px;
    margin: auto 0;
}

.contact-wp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background: rgb(19,191,161);
    background: linear-gradient(90deg, rgba(19,191,161,1) 0%, rgba(9,89,75,1) 100%);
}

.shopping-item{
    background-color: #062038;
    width: 80%;
    height:100vh;
    margin: 90px auto 0;
    display: grid;
    grid-template-columns: 60% 40%;
}

.description-item{
grid-column-start: 1;
padding-right: 15px;
background-color: #E6E9EB;
display: block;
}

.custom-item{
grid-column-start: 2;
background-color:aquamarine;
}

.slice-item{
    width: 100%;
    height: 650px;
    background-color: aqua;
}

.picture-item1{
    height:100%;
    width: 100%;
    background-image: url("/Resources/Black.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.switch-slice{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-btn{
    margin-left: 10px;
    color: #062038;
}

.data-item{
    padding-top: 10px;
    width: 100%;
    height: auto; /*While then auto */
}


.data-item-description p{
    font-size: 12px;
    width: 100%;
    text-align: justify;
}

.data-item-details{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.data-item-details-grid{
    display: grid;
    grid-template-columns: 55% 45%;
    height: auto;
    width: 100%;
}

.data-item-details-grid-left{
}
.data-item-details-grid-right{
}

.data-item-details-grid-left h6{
    height:80px;
    margin-bottom: 10px;
    width: 100%;
    
}

.data-item-details-grid-right p {
    font-size: 12px;
    text-align: end;
    height: 80px;
    margin-bottom: 10px;
    width: 100%;
    text-align: justify;
}
